.mencen {
  background: #000000;
  opacity: 0.5;
}
.uenc_foot {
  width: 100%;
  height: 388px;
  background-color: #0c0c0c;
  position: relative;
  top: 0px;
}
.uenc_foot .socialmedia {
  position: relative;
  width: 100%;
  height: 345px;
  background: #181818;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.uenc_foot .socialmedia .socialtitle {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 50px;
  font-size: 16px;
  font-family: "苹方-简";
  font-weight: normal;
  line-height: 27px;
  color: #ffffff;
  opacity: 1;
}
.uenc_foot .socialmedia .socialline {
  position: absolute;
  top: 82px;
  width: 60px;
  height: 0px;
  border: 2px solid #009fcd;
}
.uenc_foot .socialmedia .fangshi {
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 101px;
}
.uenc_foot .socialmedia .fangshi img {
  width: 50px;
  height: 50px;
}
.uenc_foot .socialmedia .fangshi li:nth-child(1) {
  margin-left: 0px;
}
.uenc_foot .socialmedia .fangshi li {
  width: 50px;
  text-align: center;
  cursor: pointer;
}
.uenc_foot .socialmedia .fangshi li span {
  font-size: 10px;
  font-family: "苹方-简";
  font-weight: normal;
  line-height: 27px;
  color: #009fcd;
}
.uenc_foot .saoma {
  width: 210px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-top: 195px;
}
.uenc_foot .saoma img {
  width: 80px;
  height: 80px;
  -webkit-touch-callout: none !important;
}
.uenc_foot .saoma li:nth-child(1) {
  margin-left: 0px;
}
.uenc_foot .saoma li {
  text-align: center;
}
.uenc_foot .saoma li span {
  font-size: 10px;
  font-family: "苹方-简";
  font-weight: normal;
  line-height: 27px;
  color: #009fcd;
  opacity: 1;
}
.uenc_foot .footerfooter {
  position: relative;
  top: 0px;
  height: 43px;
  line-height: 43px;
  width: 100%;
  text-align: center;
  font-size: 9px;
  font-family: "苹方-简";
  font-weight: normal;
  color: #ffffff;
  background-color: #0c0c0c;
  opacity: 0.1;
}
